@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:focus-visible {
    outline: none;
}

.txt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
}

.header {
    min-height: 100vh;
    background: url("../images/svg/top-section-background.svg") no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    height: 97px;
    padding-left: 104px;
    padding-right: 104px;
}

.header__top--logo {
    width: 205px;
    height: 40px;
}

.header__top--container-stays {
    height: 46px;
    padding-top: 6px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__top--container-stays-hr {
    width: 50px;
    height: 0;
    opacity: 0;
}

.header__top--container-stays:hover .header__top--container-stays-hr {
    opacity: 100%;
    border: 3px solid #F5BD41;
}

.header__top--container-attractions {
    padding-top: 6px;
    padding-left: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__top--container-attractions-hr {
    width: 100px;
    height: 0;
    opacity: 0;
}

.header__top--container-attractions:hover .header__top--container-attractions-hr {
    opacity: 100%;
    border: 3px solid #F5BD41;
}

.header__top--container-day-night-switcher {
    margin-top: 6px;
    margin-left: 48px;
    width: 30px;
    height: 30px;
}

.header__top--container-account {
    margin-left: 24px;
    width: 40px;
    height: 40px;
}

.header__top--container {
    display: flex;
    flex-direction: row;
}

.header__top--container-txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #ffffff;
}

.header__title {
    /*padding-top: 196px;*/
    padding-left: 104px;
    text-align: left;

    font-weight: 400;
    font-size: 50px;
    line-height: 59px;

    color: #ffffff;
}

.header__search {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.header__search--labels {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 128px;
}

.header__search--label {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #ffffff;
}

.header__search--label-check-in-out {
    margin-left: 221px;
}

.header__search--form {
    display: flex;
    flex-direction: row;
    margin-left: 104px;
    margin-right: 113px;
    margin-top: 24px;
    max-width: 1223px;
    height: 58px;
    border-radius: 8px;
    border: 3px solid #F3F3F4;
    background-color: #ffffff;
}

.header__search--form__input-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;

    color: #383838;
}

.header__search--form__input-destination {
    padding-left: 24px;
    padding-top: 22px;
    padding-bottom: 21px;
    width: 467px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.header__search--form__input-destination:focus {
    margin-top: -3px;
    margin-left: -3px;
    margin-bottom: -3px;
    padding-left: 25px;
    border: 3px solid #F5BD41;
}

.header__search--form__input-check-in-out {
    margin-top: -3px;
    margin-bottom: -3px;
    padding-left: 24px;
    padding-top: 23px;
    padding-bottom: 22px;
    width: 259px;
    border: 1px solid #cecece;
    border-radius: 8px;
}

.header__search--form__input-check-in-out:focus {
    border: 3px solid #F5BD41;
    padding-left: 22px;
}

.header__search--form__input-preference {
    /*margin-top: -3px;*/
    /*margin-bottom: -3px;*/
    padding-left: 24px;
    padding-top: 22px;
    padding-bottom: 21px;
    width: 305px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.header__search--form__input-preference:focus {
    margin-top: -3px;
    margin-bottom: -3px;
    padding-left: 22px;
    border: 3px solid #F5BD41;
}

.header__search--form__button {
    margin-top: -3px;
    margin-bottom: -3px;
    margin-right: -3px;
    width: 193px;
    background-color: #3077C6;
    border-radius: 8px;
    border: 1px solid #3077C6;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;

}

.header__apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
}

.header__apps--google {
    width: 135px;
    height: 40px;
}

.header__apps--apple {
    margin-left: 17px;
    width: 120px;
    height: 40px;
}

.content__advantages {
    display: flex;
    flex-direction: column;
}

.content__advantages--title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content__advantages--title-txt {
    margin-top: 120px;

    width: 306px;
    height: 47px;

    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    color: #383838;
}

.content__advantages--title-hr {
    margin-top: 20px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
}

.content__advantages--offers {
    margin-top: 80px;
    margin-bottom: 122px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content__advantages--offer {
    width: 296px;
    height: 176px;

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.content__advantages--offer-txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #383838;
}

.footer {
    background-color: #10367C;
    display: flex;
    flex-flow: column;
}

.footer__categories {
    margin-top: 120px;
    margin-bottom: 64px;
    /*margin: 120px 272px 64px 104px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.footer__categories--about__mark {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer__categories--about {
    width: 193px;
    height: 211px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer__categories--types {
    width: 133px;
    height: 305px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer__categories--support {
    width: 252px;
    height: 117px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer__categories--txt {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    text-decoration: none;

    color: #ffffff;
}

.footer__categories--title {
    font-weight: 400;
}

.footer__categories--mark {
    margin-top: 158px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;

    color: #FFFFFF;
}