@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.advantages {
    display: flex;
    flex-direction: column;
}

.advantages-title {
    margin-top: 120px;

    width: 306px;
    height: 47px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    color: #383838;
}

.advantages-stroke {
    margin-top: 20px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
}

.advantages-title-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advantages-pics-text-block{
    margin-top: 80px;
    margin-bottom: 122px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.advantages-pics-text {
    width: 296px;
    height: 176px;

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.advantages-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #383838;
}

footer {
    background-color: #10367C;
    display: flex;
    flex-flow: column;
}

.footer-block {
    margin: 120px 272px 64px 104px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    text-decoration: none;

    color: #FFFFFF;
}

.footer-about{
    width: 193px;
    height: 211px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer-types{
    width: 133px;
    height: 305px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer-support{
    width: 252px;
    height: 117px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer-mark {
    margin-bottom: 120px;
    margin-left: 105px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;

    color: #FFFFFF;
}

.footer-text-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
}
