@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

:root {
  --col-width: calc(100% / 12);
  --font-size: 40px;
  --container-padding-top-bottom: 16px;
  --container-padding-left-right: 120px;
  --slider-button-size: 40px;
  --color-onyx: #383838;
  --color-argent: #BFBFBF;
  --color-celtic-blue: #3366CC;
}

.col-desktop-1 {
  width: var(--col-width);
}

.col-desktop-2 {
  width: calc(var(--col-width) * 2);
}

.col-desktop-3 {
  width: calc(var(--col-width) * 3);
}

.col-desktop-4 {
  width: calc(var(--col-width) * 4);
}

.col-desktop-5 {
  width: calc(var(--col-width) * 5);
}

.col-desktop-6 {
  width: calc(var(--col-width) * 6);
}

.col-desktop-7 {
  width: calc(var(--col-width) * 7);
}

.col-desktop-8 {
  width: calc(var(--col-width) * 8);
}

.col-desktop-9 {
  width: calc(var(--col-width) * 9);
}

.col-desktop-10 {
  width: calc(var(--col-width) * 10);
}

.col-desktop-11 {
  width: calc(var(--col-width) * 11);
}

.col-desktop-12 {
  width: calc(var(--col-width) * 12);
}

.h2-style {
  margin-bottom: 7.5vw;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size);
  color: var(--color-onyx);
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:focus-visible {
  outline: none;
}

::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #383838;
}

.container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding-left-right) var(--container-padding-top-bottom);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 120px;
  min-height: 100vh;
}

.header__wrapper {
  background: url("../images/svg/top-section-background.svg") no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__top--logo {
  width: 205px;
  height: 40px;
  fill: #3077c6;
}

.header__top--container {
  display: flex;
  align-items: center;
}

.header__top--container-stays {
  height: 100%;
  padding-top: 6px;
  position: relative;
}

.header__top--container-stays:hover ::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #f5bd41;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.header__top--container-attractions {
  height: 100%;
  margin-left: 24px;
  padding-top: 6px;
  position: relative;
}

.header__top--container-attractions:hover ::after{
  content: "";
  width: 110px;
  height: 4px;
  background: #f5bd41;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.header__top--container-day-night-switcher {
  margin-left: 48px;
  width: 30px;
  height: 30px;
}

.header__top--container-account {
  margin-left: 24px;
  width: 40px;
  height: 40px;
}

.header__top--container-txt {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.header__top--container-burger {
  display: none;
}

.header__title {
  text-align: left;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.header__search {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header__search--labels {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.header__search--label-destination {
  width: 32%;
  padding-left: 24px;
}

.header__search--form {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 100%;
  height: 58px;
  border-radius: 8px;
  border: 3px solid #f3f3f4;
  background-color: #ffffff;
}

.header__search--form__destination-mob {
  display: none;
}

.header__search--form__check-in-mob {
  display: none;
}

.header__search--form__check-out-mob {
  display: none;
}

.header__search--form__preference-mob {
  display: none;
}

.header__search--form__input-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #383838;
}

.header__search--form__destination {
  width: 30%;
  padding-left: 24px;
  margin-left: -3px;
  border: 1px solid #f3f3f4;
  border-radius: 8px;
}

.header__search--form__destination:focus {
  margin-top: -3px;
  margin-bottom: -3px;
  padding-left: 22px;
  border: 3px solid #f5bd41;
}

.header__search--form__check-in-out {
  padding-left: 24px;
  margin-top: -3px;
  margin-bottom: -3px;
  width: 25%;
  border: 1px solid #cecece;
  border-radius: 8px;
}

.header__search--form__check-in-out:focus{
  border: 3px solid #f5bd41;
  padding-left: 22px;
}

.header__search--form__preference {
  padding-left: 24px;
  width: 30%;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.header__search--form__preference:focus {
  margin-top: -3px;
  margin-bottom: -3px;
  padding-left: 22px;
  border: 3px solid #f5bd41;
}

.header__search--form__button {
  margin-top: -3px;
  margin-bottom: -3px;
  margin-right: -3px;
  width: 16%;
  background-color: #3077c6;
  border-radius: 8px;
  border: 1px solid #3077c6;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.header__apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__apps--google {
  width: 135px;
  height: 40px;
}

.header__apps--apple {
  margin-left: 17px;
  width: 120px;
  height: 40px;
}

.content__advantages {
  display: flex;
  flex-direction: column;
}

.content__advantages--title {
  margin-top: 120px;
  margin-bottom: 24px;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
  position: relative;
}

.content__advantages--title::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #f5bd41;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%);
}

.content__advantages--offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 122px;
}

.content__advantages--offer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  max-width: 296px;
  height: 176px;
}

.content__advantages--offer-img {
  width: 100px;
  height: 100px;
}

.content__advantages--offer-txt {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}

.sign-up--mob {
  display: none;
}

.content__destinations {
  display: flex;
  flex-direction: column;
  padding: 120px var(--col-width);
}

.content__destinations--title {
  margin: 0 auto;
  padding-bottom: 104px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.content__destinations--buttons {
  width: 623px;
  height: 64px;
  display: flex;
  background-color: #F3F3F4;
  border-radius: 8px;
}

.content__destinations--button {
  width: 33.33%;
  height: 64px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
  background-color: #F3F3F4;
  border-radius: 8px;
  border: 0;
}

.content__destinations--button:focus {
  color: #FFFFFF;
  background-color: #3077C6;;
}

.content__destinations--items {
  padding-top: 64px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__destinations--item {
  display: flex;
  width: 25%;
  max-width: 296px;
  height: 352px;
  flex-direction: column;
  justify-content: space-between;
}

.content__destinations--item--pic {
  width: 296px;
  height: 296px;
}

.content__destinations--item--name {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077C6;
}

.content__destinations--button--down--block {
  margin: 0 auto
}

.content__destinations--button--down {
  border-radius: 50%;
  border: 0;
  height: 40px;
  width: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sign-up--web {
  display: flex;
  margin: 0 var(--col-width);
  height: 200px;
  background-color: #EAF0F9;
  align-items: center;
}

.sign-up--web--svg {
  padding: 0 24px;
}

.sign-up--web--details {
  padding: 51px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-up--web--details--title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.sign-up--web--details--button {
  width: 128px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #3077C6;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3077C6;
}

.homes {
  background-color: #EAF0F9;
}

.homes__items {
  position: relative;
  gap: 16px;
}

.homes__img {
  width: 100%;
}

.homes__description {
  font-size: 24px;
  color: var(--color-argent);
}

.homes__name {
  padding: 24px 0;
  color: var(--color-celtic-blue);
}

.slider {
  position: absolute;
  width: 100%;
  top: 30%;
}

.slider__button {
  width: var(--slider-button-size);
  height: var(--slider-button-size);
  border-radius: 50%;
  border: 0;
  background: #F3F3F4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider__button--previous > * {
  transform: rotate(180deg);
}

.slider__button--previous {
  visibility: hidden;
  transform: translate(calc(var(--slider-button-size) / -2));
}

.slider__button--next {
  transform: translate(calc(var(--slider-button-size) / 2));
}

.arrow {
  width: 9px;
  height: 21px;
}

.footer__wrapper {
  background-color: #10367c;
}

.footer {
  display: flex;
  flex-flow: column;
}

.footer__categories {
  margin-top: 120px;
  margin-bottom: 64px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__category {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.footer__category--about {
  height: 211px;
}

.footer__category--types {
  height: 305px;
}

.footer__category--support {
  height: 117px;
}

.footer__category--txt,
.footer__category--title {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.footer__category--title {
  font-weight: 400;
}

.footer__categories--mark {
  width: 100%;
  margin-top: 64px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  align-items: start;
}

.footer__top {
  width: 0;
  height: 0;
}

.footer__top--logo {
  visibility: hidden;
}

@media (max-width: 1170px) {

  /*[class*="col-"] {*/
  /*  width: 50%;*/
  /*}*/

  .content__advantages--offers {
    gap: 42px;
  }
}

@media (max-width: 1060px) {
  :root {
    --col-width: calc(100% / 10);
  }

  .col-tablet-1 {
    width: var(--col-width);
  }

  .col-tablet-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-tablet-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-tablet-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-tablet-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-tablet-6 {
    width: calc(var(--col-width) * 6);
  }

  .col-tablet-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-tablet-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-tablet-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-tablet-10 {
    width: calc(var(--col-width) * 10);
  }

  .item-hostel {
    display: none;
  }

  .homes__description {
    font-size: 20px;
  }

  .homes__name {
    padding: 20px 0;
  }

  .header__search--labels {
    display: none;
  }

  .header__search--form__destination {
    display: none;
  }

  .header__search--form__check-in-out {
    display: none;
  }

  .header__search--form__preference {
    display: none;
  }

  .header__search--form {
    border-radius: 0;
    border: 8px solid #F5BD41;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    background-color: #F5BD41;
    height: auto;
  }

  .header__search--form__destination-mob {
    height: 48px;
    border-radius: 4px;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
  }

  .header__search--form__destination-mob-svg {
    margin-left: 12px;
    width: 16px;
    height: 16px;
  }

  .header__search--form__destination-mob-input {
    border-radius: 4px;
    padding-left: 8px;
    width: 100%;
    border: 0;
  }

  .header__search--form__check-in-mob {
    padding-left: 8px;
    height: 48px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header__search--form__check-in-mob-input,
  .header__search--form__check-out-mob-input {
    border: 0;
  }

  .header__search--form__check-out-mob {
    padding-left: 8px;
    height: 48px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .header__search--form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #383838;
  }

  .header__search--form__preference-mob {
    display: flex;
    height: 48px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: white;
    border-radius: 4px;
    padding-left: 4px;
  }

  .header__search--form__preference-mob-children,
  .header__search--form__preference-mob-adults,
  .header__search--form__preference-mob-rooms {
    display: flex;
    flex-direction: column;
    padding: 6px 4px;
    width: 33.33%;
  }

  .header__search--form__preference-mob-adults {
    height: 48px;
    background-color: white;
  }

  .header__search--form__preference-mob-adults-input,
  .header__search--form__preference-mob-children-input {
    border: 0;
    width: 100%;
    border-right: 1px solid #BFBFBF;
  }

  .header__search--form__preference-mob-rooms-input {
    border: 0;
  }

  .header__search--form__label--adults,
  .header__search--form__label--children {
    border-right: 1px solid #BFBFBF;
    width: 100%;
  }

  .header__search--form__button {
    margin: 0 auto;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 48px;
    font-size: 19px;
    line-height: 22px;
  }
}

@media (max-width: 880px) {
  .footer__top {
    width: 98px;
    height: 23px;
    margin: 40px auto;
  }

  .footer__top--logo {
    width: 98px;
    height: 19px;
    visibility: initial;
    fill: #ffffff;
  }

  .footer__categories {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .footer__category--title {
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    text-align: center;
  }

  .footer__category {
    width: 33.33%;
    height: 18px;
  }

  .footer__category--txt {
    display: none;
  }

  .footer__categories--mark {
    margin-top: 32px;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .header {
    padding-top: 12px;
    padding-bottom: 40px;
  }

  .header__top--container-stays {
    display: none;
  }

  .header__top--container-attractions {
    display: none;
  }
  
  .header__top--logo {
    width: 122px;
    height: 24px;
  }

  .header__top--container {
    gap: 16px;
    justify-content: space-between;
  }

  .header__top--container-account {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  .header__top--container-day-night-switcher {
    margin: 0 auto;
    width: 16px;
    height: 16px;
  }

  .header__top--container-burger {
    display: initial;
    width: 24px;
    height: 16px;
  }

  .header__title {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 700px) {
  :root {
    --col-width: calc(100% / 6);
    --slider-button-size: 28px;
  }

  .col-mobile-1 {
    width: var(--col-width);
  }

  .col-mobile-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-mobile-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-mobile-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-mobile-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-mobile-6 {
    width: calc(var(--col-width) * 6);
  }

  .content__advantages--title::after {
    display: none;
  }

  .container {
    padding: 40px 17px;
  }

  .h2-style {
    font-size: calc(var(--font-size) - 75%);
  }

  .arrow {
    width: 6px;
    height: 15px;
  }

  .item-villa {
    display: none;
  }

  .homes__description {
    font-size: 12px;
  }

  .homes__name {
    padding: 12px 0;
  }

  .content__advantages--offer-txt {
    font-size: 20px;
    line-height: 20px;
  }

  .content__advantages--title {
    height: 33px;
    margin-bottom: 0;
    margin-top: 24px;
    font-size: 28px;
    line-height: 33px;
  }

  .content__advantages--offers {
    margin-top: 32px;
    margin-bottom: 40px;
    gap: 32px;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .content__advantages--offer {
    max-width: 214px;
    height: 104px;
  }

  .content__advantages--offer-txt {
    font-size: 15px;
    line-height: 18px;
  }

  .content__advantages--offer-img {
    width: 70px;
    height: 70px;
  }