@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-p);
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
  color: var(--color-onyx);
}

:focus-visible {
  outline: none;
}

::placeholder {
  font-size: 15px;
  color: var(--color-onyx);
}

:root {
  --col-width: calc(100% / 12);
  --container-padding-top-bottom: 120px;
  --container-padding-left-right: 16px;
  --slider-button-size: 40px;
  --font-size-p: 24px;
  --font-size-h2: 40px;
  --color-onyx: #383838;
  --color-argent: #BFBFBF;
  --color-anti-flash-white: #F4F4F3;
  --color-anti-flash-white2: #EAF0F9;
  --color-catalina-blue: #10367C;
  --color-celtic-blue: #3366CC;
  --color-celtic-blue2: #3077c6;
  --color-maximum-yellow-red: #f5bd41;
  --color-white: #FFFFFF;
}

.col-web-1 {
  width: var(--col-width);
}

.col-web-2 {
  width: calc(var(--col-width) * 2);
}

.col-web-3 {
  width: calc(var(--col-width) * 3);
}

.col-web-4 {
  width: calc(var(--col-width) * 4);
}

.col-web-5 {
  width: calc(var(--col-width) * 5);
}

.col-web-6 {
  width: calc(var(--col-width) * 6);
}

.col-web-7 {
  width: calc(var(--col-width) * 7);
}

.col-web-8 {
  width: calc(var(--col-width) * 8);
}

.col-web-9 {
  width: calc(var(--col-width) * 9);
}

.col-web-10 {
  width: calc(var(--col-width) * 10);
}

.col-web-11 {
  width: calc(var(--col-width) * 11);
}

.col-web-12 {
  width: calc(var(--col-width) * 12);
}

button {
  cursor: pointer;
}

.h2-style {
  position: relative;
  margin-bottom: 104px;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-h2);
  color: var(--color-onyx);
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding-top-bottom) var(--container-padding-left-right);
}

.top-section {
  background: url("../images/png/top-section-background.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.top-section__container {
  padding-top: 51px;
}

.top-section__logo {
  width: 205px;
  height: 40px;
  fill: #3077c6;
}

.top-section__menu {
  gap: 48px;
}

.menu__items {
  align-items: center;
  gap: 24px;
}

.menu__items a {
  color: var(--color-white);
}

.item-switcher {
  width: 30px;
  height: 30px;
}

.item-account {
  width: 40px;
  height: 40px;
}

.menu__items > li > .menu__item {
  position: relative;
}

.menu__items > li > .menu__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--color-maximum-yellow-red);
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  transition: width 0.4s ease-out;
}

.menu__items > li > .menu__item:hover::after {
  width: 100%;
}

.item-svg:hover {
  fill: var(--color-maximum-yellow-red);
}

.menu-burger {
  display: none;
}

.top-section__title {
  margin-top: 196px;
  text-align: left;
  font-weight: 500;
  font-size: 50px;
  color: var(--color-white);
}

.top-section__search {
  margin-top: 100px;
  margin-bottom: 120px;
}

.search__labels {
  width: 50%;
  padding-left: 24px;
}

.search__labels label {
  text-align: left;
  font-size: calc(var(--font-size-p) - 25%);
  color: var(--color-white);
}

.form__mob {
  display: none;
}

.search__form {
  width: 100%;
  margin-top: 24px;
  border-radius: 8px;
  border: 3px solid #f3f3f4;
  background-color: var(--color-white);
}

.web__item {
  padding: 14px 24px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
}

.destination-input {
  width: 40%;
  margin-left: -3px;
}

.checkins-input {
  width: 25%;
  min-width: 228px;
  text-align: center;
  border-color: var(--color-anti-flash-white);
}

.preference-input {
  width: 35%;
  min-width: 266px;
  margin-right: -3px;
  text-align: center;
}

.web__item:focus {
  margin-top: -3px;
  margin-bottom: -3px;
  border: 3px solid #f5bd41;
}

.destination-input:focus {
  padding-left: 22px;
}

.form__button {
  margin: -3px -3px -3px 3px;
  background-color: var(--color-celtic-blue2);
  border-radius: 8px;
  border: 0;
  color: var(--color-white);
}

.top-section__apps {
  justify-content: center;
}

.google-app-svg {
  width: 135px;
  height: 40px;
}

.apple-app-svg {
  margin-left: 17px;
  width: 120px;
  height: 40px;
}

.h2-style::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--color-maximum-yellow-red);
  bottom: -50%;
  left: 50%;
  transform: translate(-50%);
  transition: width 0.4s ease-out;
}

.h2-style:hover::after {
  width: 100px;
}

.advantages__items {
  flex-wrap: wrap;
}

.advantages__item {
  margin: 0 auto;
  align-items: center;
}

.advantages__svg {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

/*Homes block styles*/
.homes {
  background-color: var(--color-anti-flash-white2);
}

.homes__items {
  position: relative;
}

.homes__description {
  font-size: 24px;
  color: var(--color-argent);
}

.homes__name {
  padding: 24px 0;
  color: var(--color-celtic-blue);
}

/*Slider styles*/
.homes__slider {
  position: absolute;
  width: 100%;
  top: 30%;
}

.slider__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--slider-button-size);
  height: var(--slider-button-size);
  border-radius: 50%;
  border: 0;
  background: #F3F3F4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slider__button--previous > * {
  transform: rotate(180deg);
}

.slider__button--previous {
  visibility: hidden;
  transform: translate(calc(var(--slider-button-size) / -2));
}

.slider__button--next {
  transform: translate(calc(var(--slider-button-size) / 2));
}

.destinations__slider {
  position: initial;
  width: 0;
  height: 0;
}

.slider__button--up {
  display: none;
}

.slider__button--down {
  position: absolute;
  top: 108%;
  right: 50%;
  transform: rotate(90deg) translate(50%);
}

.arrow {
  width: 9px;
  height: 21px;
}

.sign-up__mob {
  display: none;
}

.destinations {
  padding-bottom: 90px;
}

.destinations__buttons {
  display: flex;
  border-radius: 8px;
  background-color: #F3F3F4;
}

.destinations__button {
  width: 33.33%;
  padding: 18px 0;
  background-color: var(--color-anti-flash-white);
  border: 0;
  border-radius: 8px;
}

.destinations__button:hover {
  color: var(--color-white);
  background-color: var(--color-celtic-blue2);
}

.destinations__items {
  position: relative;
  margin-top: 64px;
}

.destinations__caption {
  padding-top: 24px;
  color: var(--color-celtic-blue);
}

.destinations__items .carousel__item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.overlay button {
  padding: 13px 24px;
  background: var(--color-white);
  border: 1px solid var(--color-celtic-blue2);
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  color: var(--color-celtic-blue2);
}

.carousel__item:hover .overlay {
  opacity: 1;
}

.carousel__item:hover .destination__img {
  filter: brightness(50%)
}

.carousel__items {
  gap: 16px;
}

.carousel__items img {
  width: 100%;
}

.carousel__item {
  justify-content: initial;
}

/*Reviews block*/

.reviews__items {
  position: relative;
}

.reviews__item {
  max-width: 400px;
  background: var(--color-anti-flash-white2);
}

.item__img {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.img-price {
  position: absolute;
  top: 100%;
  height: 48px;
  width: 100%;
  padding: 16px 0 11px 24px;
  background: rgba(56, 56, 56, 0.7);
  opacity: 80%;
  transition: transform 300ms ease;
  transform: translateY(0);
}

.img-price p {
  font-size: 18px;
  color: var(--color-white);
}

.reviews__item:hover .img-price {
  transform: translate(0, -100%);
}

.review--location-grade {
  padding: 0 0 24px 0;
}

.review--location {
  width: 65%;
}

.review--grade {
  align-items: end;
  width: 35%;
}

.location--hotel,
.location--name {
  font-weight: 500;
  font-size: 18px;
  color: #3077C6;
}

.location--name {
  padding-top: 16px;
  font-weight: 400;
}

.review--grade div {
  padding: 4px 11px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-anti-flash-white2);
  border-radius: 8px;
  background: var(--color-catalina-blue);
}

.review--grade p {
  font-size: 14px;
  color: var(--color-argent);
}

.review--reviewer {
  justify-content: initial;
}

.review--reviewer svg {
  fill: var(--color-argent);
  width: 54px;
  height: 54px;
}

.reviewer--name-location {
  justify-content: space-evenly;
  padding-left: 22px;
}

.reviewer--name,
.reviewer--location {
  font-size: 18px;
  color: var(--color-onyx);
}

.reviewer--location {
  padding-top: 8px;
  color: var(--color-argent);
}

.item__review {
  padding: 24px;
}

.item__review > p {
  padding: 24px 0;
  font-size: 18px;
  color: var(--color-onyx);
}

.reviews__dots {
  display: none;
}

.reviews__slider {
  position: absolute;
  width: 100%;
  top: 25%;
}

.sign-up {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-anti-flash-white2);
}

.icon__web {
  display: flex;
  padding: 57px 24px;
}

.icon__web svg {
  width: 86px;
  height: 86px;
}

.icon__mob {
  display: none;
}

.sign-up__details p {
  padding-bottom: 21px;
  font-weight: 500;
}

.sign-up__cancel {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
}

.sign-up__cancel svg {
  width: 26px;
  height: 26px;
}

.sign-up__details a {
  display: none;
}

.sign-up__details button {
  padding: 12px 32px;
  background: var(--color-white);
  border: 1px solid var(--color-celtic-blue2);
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  color: var(--color-celtic-blue2);
}

.footer {
  background-color: #10367c;
}

.footer__top {
  display: none;
}

.footer__categories {
  padding: 40px 0 32px 0;
  flex-wrap: wrap;
}

.footer__category li {
  display: flex;
  padding-bottom: 24px;
}

.category__txt {
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: var(--color-white);
}

.category__main {
  font-weight: 400;
}

.category--mark {
  width: 100%;
  padding-top: 40px;
  font-size: 14px;
}

@media (max-width: 1061px) {
  :root {
    --col-width: calc(100% / 10);
  }

  .col-tablet-1 {
    width: var(--col-width);
  }

  .col-tablet-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-tablet-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-tablet-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-tablet-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-tablet-6 {
    width: calc(var(--col-width) * 6);
  }

  .col-tablet-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-tablet-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-tablet-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-tablet-10 {
    width: calc(var(--col-width) * 10);
  }

  .advantages__items {
    gap: 42px;
  }

  .item-hostel,
  .item-island,
  .item-marocco {
    display: none;
  }

  .homes__description,
  .destinations__caption {
    font-size: 20px;
  }

  .homes__name {
    padding: 20px 0;
  }

  .destinations {
    padding-bottom: 0;
  }

  .destinations__caption {
    padding-top: 20px;
  }

  .overlay {
    display: none;
  }

  .carousel__item:hover .destination__img {
    filter: initial;
  }

  .destinations__slider {
    position: absolute;
    width: 100%;
    top: 35%;
  }

  .slider__button--up {
    display: initial;
    visibility: hidden;
    transform: rotate(180deg) translate(calc(var(--slider-button-size) / 2));
  }

  .slider__button--down {
    position: initial;
    transform: translate(calc(var(--slider-button-size) / 2));
  }
}

@media (max-width: 880px) {
  ::placeholder {
    font-weight: 500;
  }

  .search__labels,
  .form__web {
    display: none;
  }

  .search__form {
    flex-direction: column;
    gap: 8px;
    border: 8px solid var(--color-maximum-yellow-red);
    border-radius: 0;
    background-color: var(--color-maximum-yellow-red);
  }

  .form__mob {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    border-radius: 4px;
    gap: 8px;
  }

  .mob__item {
    padding: 3px 8px;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-white);
  }

  div.mob__item * {
    border: 0;
    padding: 0;
  }

  .item__destination {
    display: flex;
    padding: 10px 8px;
    align-items: center;
    gap: 8px;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .destination-svg {
    width: 16px;
    height: 16px;
  }

  .destination-input {
    margin: 0;
    width: 100%;
  }

  .item__check-in {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item__check-out {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .item-label {
    font-size: 12px;
    color: var(--color-onyx);
  }

  .item__preference {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .item__preference > div {
    width: 33.33%;
  }

  .item__preference div:not(:first-child) > * {
    padding-left: 8px;
    border-left: 1px solid var(--color-argent);
  }

  .form__button {
    width: 100%;
    margin: 0 auto;
    padding: 14px 0;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 19px;
  }
}

@media (max-width: 650px) {
  :root {
    --col-width: calc(100% / 6);
    --slider-button-size: 28px;
  }

  .h2-style {
    margin-bottom: 32px;
    font-size: 28px;
  }

  .col-mob-1 {
    width: var(--col-width);
  }

  .col-mob-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-mob-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-mob-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-mob-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-mob-6 {
    width: calc(var(--col-width) * 6);
  }

  .container {
    padding: 40px 17px;
  }

  .top-section {
    padding-top: 12px;
    padding-bottom: 40px;
  }

  .top-section__menu ul,
  .item-villa,
  .item-norway,
  .item-netherlands {
    display: none;
  }

  .menu-burger {
    display: flex;
  }

  .item-burger {
    width: 24px;
    height: 16px;
  }

  .top-section__logo {
    width: 122px;
    height: 24px;
  }

  .menu__items {
    gap: 16px;
    justify-content: space-between;
  }

  .item-account {
    margin: 0 auto;
    width: 24px;
    height: 24px;
  }

  .item-switcher {
    margin: 0 auto;
    width: 16px;
    height: 16px;
  }

  .top-section__title {
    font-size: 30px;
    line-height: 35px;
  }

  .top-section__container {
    padding-top: 12px;
  }

  .arrow {
    width: 6px;
    height: 15px;
  }

  .homes__description,
  .destinations__caption {
    font-size: 12px;
  }

  .destinations__slider {
    top: 40%;
  }

  .homes__name {
    padding: 8px 0 4px 0;
  }

  .destinations__caption {
    padding-top: 8px;
  }

  .destinations__buttons {
    gap: 16px;
    background-color: initial;
  }

  .destinations__button {
    padding: 5px 0;
    border: 1px solid var(--color-anti-flash-white);
    border-radius: 4px;
    background-color: initial;
    font-size: 19px;
  }

  .destinations__items {
    margin-top: 24px;
  }

  .sign-up {
    max-width: 360px;
    padding: 24px 17px;
    background-color: initial;
  }

  .icon__mob {
    display: flex;
    padding-left: 32px;
  }

  .icon__mob svg {
    width: 58px;
    height: 58px;
    padding: 0 3px;
    fill: var(--color-white);
    border-radius: 4px;
    background-color: var(--color-celtic-blue2);
  }

  .icon__web,
  .sign-up__details button {
    display: none;
  }

  .sign-up__cancel {
    top: 45px;
    left: 17px;
  }

  .sign-up__cancel svg {
    width: 16px;
    height: 16px;
  }

  .sign-up__details,
  .sign-up__details a {
    display: flex;
  }

  .sign-up__details p {
    padding: 0 16px;
    font-weight: 400;
    font-size: 12px;
  }

  .sign-up__details a {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-celtic-blue2)
  }

  .reviews {
    background: var(--color-anti-flash-white2);
  }

  .reviews__items {
    flex-direction: column;
    align-items: center;
  }

  .reviews__item {
    max-width: 327px;
  }

  .review--location-grade {
    padding: 12px 0 19px 0;
  }

  .review--location p {
    font-size: 15px;
  }

  .review--grade div {
    padding: 3px 9px;
    font-size: 15px;
  }

  .review--grade p {
    font-size: 12px;
  }

  .review--reviewer svg {
    width: 44px;
    height: 44px;
  }

  .reviewer--name-location p {
    font-size: 15px;
  }

  .reviewer--name-location {
    padding-left: 13px;
  }

  .reviewer--location {
    padding-top: 0;
  }

  .item__review > p {
    padding: 21px 0;
    font-size: 15px;
  }

  .item__review {
    padding: 0;
  }

  .location--name {
    padding-top: 8px;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__dots svg {
    width: 56px;
    height: 8px;
  }

  .reviews__dots {
    display: flex;
  }

  .footer__top,
  .footer__top a {
    display: flex;
    margin: 0 auto;
  }

  .footer__top svg {
    width: 98px;
    height: 19px;
    fill: var(--color-white)
  }

  .footer__categories {
    padding-bottom: 0;
    justify-content: center;
    gap: 16px;
  }

  .footer__category li:not(:first-child) {
    display: none;
  }

  .footer__category li {
    padding-bottom: 16px;
  }

  .category__main {
    font-size: 15px;
    text-decoration-line: underline;
    text-align: center;
  }

  .category--mark {
    padding-top: 0;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .advantages__title::after {
    display: none;
  }

  .advantages__caption {
    font-size: 15px;
  }

  .advantages__items {
    gap: 32px;
    flex-flow: column;
  }

  .advantages__svg {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
  }
}